.task1 {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(2, 60px);
  grid-gap: 5px;
}

.task2 {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(2, 40px);
  grid-gap: 5px;
}
