.App {
  font-family: sans-serif;
  text-align: center;
}

.shipping-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shipping-form input {
  margin: 0.4rem;
  padding: 0.7rem;
}

.shipping-form-container {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.street-address,
.apt-suite,
.submit-btn {
  grid-column: 1/3;
}

.header {
  font-weight: lighter;
}
